.flex-container{
    width: 100%;
    height: 1000px;
    display:flex;
 
}

.flex-item{
    width: 24%;
    height: 1000px;
    margin:3px
}


body{
    margin: 0px;
    background-image: url(https://i.pinimg.com/originals/47/bc/e7/47bce72d39926ad28b46b41ec71e649c.jpg);
}
header{
    width:100%;
    height: 80px;
    background-color: #caa98a;
    margin-top: -20px;
}